<%= form_for(@patient) do |f| %>
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% @patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_area :address %>
  </div>
  <div class="field">
    <%= f.label :phone_number %><br>
    <%= f.text_field :phone_number %>
  </div>
  <%= select_tag "oppoinment[doctor_id]",options_from_collection_for_select(Doctor.all, 'id', 'name', {}),:prompt => "Select Doctor"%>
  <div class="field">
    <%= f.label "oppoinment[description]" %><br>
    <%= text_field_tag "oppoinment[description]" %>
  </div>
  <div class="field">
    <%= f.label "oppoinment[time_of_oppoinment]" %><br>
    <%= text_field_tag "oppoinment[time_of_oppoinment]" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
