<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @doctor.name %>
</p>

<p>
  <strong>Qualification:</strong>
  <%= @doctor.qualification %>
</p>

<p>
  <strong>Experiance:</strong>
  <%= @doctor.experiance %>
</p>

<p>
  <strong>Specilazation:</strong>
  <%= @doctor.specilazation %>
</p>

<%= link_to 'Edit', edit_doctor_path(@doctor) %> |
<%= link_to 'Back', doctors_path %>
